<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Good albums database</title>
    <style>
    
        body{
            color: purple;
            text-align: center;
            background-color: black;
            font-family: "Comic Sans MS", cursive, sans-serif;

            text-shadow: 1px 0 0 white, 
            -1px 0 0 purple, 
            0 1px 0 purple,
            0 -1px 0 purple, 
            1px 1px purple, 
            -1px -1px 0 purple, 
            1px -1px 0 purple, 
            -1px 1px 0 purple;
        }
        form, table {
            width: 30%;
            margin: auto;
            
            border-top: 9px double purple;
            border-right: 5px double purple;
            border-bottom: 9px double white;
            border-left: 5px double gray;
            
            padding: 50px;
            box-sizing: border-box;
            border-radius: 10px;
        }
        form > div {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;
        }
        form > div > label {
            font-size: 18pt;
        }
        form > div > input {
            margin-top: 15px;
            font-size: 18pt;
            padding: 5px 10px;
        }
        table {
            margin-top: 15px;
        }
        thead th {
            background: #333;
            color: #fff;
        }
        table{
            border-collapse: collapse;
        }
        table, th, td {
          border: 3px solid white;
        }

        td > img {
            border: 3px solid purple;
            height: 100px;
        }
        
    </style>
</head>
<body>
    {% for message in app.flashes('notice') $}
    <h2 class = "flash-notice">
        {{ message }}
    </h2>
    {% endfor %}

    <form action="/adicionar" method="post">

        <h1>Good Albums Database</h1>

        <img src="https://old.officialpsds.com/thumbs/Purple-Skulls-psd72013.png" alt="yeah">

        <div>
            <label>Album cover url</label>
            <input type="text" name="imgUrl"/>
        </div>
        <div>
            <label>Album name</label>
            <input type="text" name="name"/>
        </div>
        <div>
            <label>Band</label>
            <input type="text" name="band"/>
        </div>
        <div>
            <label>Amont of musics</label>
            <input type="number" name="qtdMusics"/>
        </div>
        <div>
            <label>Play Time</label>
            <input type="number" name="playTime"/>
        </div>
        <div>
            <input type="submit" value="submit"/>
        </div>
    </form>
    <table>
        <thead>
            <tr>
                <th>Album Cover</th>
                <th>Album Name</th>
                <th>Band</th>
                <th>Amont of musics</th>
                <th>PlayTime</th>
            </tr>
        </thead>
        <tbody>
            {% for Album in listAlbum %}
            <tr>
                <td> <img src= "{{ Album.imgUrl }}"></td>
                <td>{{ Album.name }}</td>
                <td>{{ Album.band }}</td>
                <td>{{ Album.qtdMusics }}</td>
                <td>{{ Album.playTime }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>